/* Project CSS */
.section-center {
  width: 95%;
  margin: auto;
  padding: 1rem;
  height: 100vh;
}

.underline {
  position: relative;
  bottom: -9px;
  height: 4px;
  width: 30%;
  background-color: var(--secondary-blue);
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--radius);
}

.slidercontainer {
  margin: auto;
  gap: 3rem;
}

.slider .card {
  position: absolute;
}

.sliderreviews {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: relative;
  min-height: 200px;
  width: 100%;
}

.review {
  width: 90%;
  left: 25%;
  transform: translate(0%, 0%);
  position: relative;
  transition: var(--transition);
}

.review {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  gap: 0.7rem;
  padding: 0.5rem 2rem;
  background-color: var(--soft-dark);
  border-radius: var(--btn-radius);
  box-shadow: var(--dark-shadow);
  position: absolute;
}

.star-container {
  display: grid;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  grid-template-columns: repeat(5, auto);
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  gap: 0.2rem;
}

.nextReview {
  right: 0;
  transform: translateX(150%);
  opacity: 0;
}

.prevReview {
  left: 0;
  transform: translateX(-150%);
  opacity: 0;
}

.activeReview {
  transform: translate(-50%, 0%);
  opacity: 1;
}

.holiday-container {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  gap: 0;
  box-shadow: var(--dark-shadow);
}

.holiday-info {
  background-color: var(--soft-dark);
  padding: 1rem;
  border-radius: var(--card-radius);
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  gap: 0.75rem;
}

.holiday-cost {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.img {
  position: relative;
  border-radius: var(--img-radius);
  width: 100%;
  height: 225px;
  z-index: 2;
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 600px;
  }
  .img {
    height: 350px;
  }
}

.btn-group {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.slider-btn-group {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.btn-group .btn-slider {
  background-color: var(--primary-blue);
  height: fit-content;
  color: var(--bg-blue);
}

.btn-group .btn-slider:hover {
  background-color: var(--secondary-blue);
  color: white;
}

.btn-group .btn-delete {
  background-color: transparent;
  color: var(--delete-color);
  border: 2px solid var(--delete-color);
}

.btn-delete:hover {
  background-color: var(--delete-color);
  color: white;
}